In [12]:
import pandas as pd

import numpy as np

In [13]:
pd.set_option('display.max_columns', 500)

In [14]:
df = pd.read_csv('../data/processed/fhvhv_daily_counts.csv', parse_dates=True)
df['pickup_date'] = pd.to_datetime(df['pickup_date'])

df.head(15)

    PULocationID pickup_date  count
0              1  2022-01-01      0
1              1  2022-01-02      0
2              1  2022-01-03      0
3              1  2022-01-04      0
4              1  2022-01-05      0
5              1  2022-01-06      0
6              1  2022-01-07      0
7              1  2022-01-08      0
8              1  2022-01-09      0
9              1  2022-01-10      0
10             1  2022-01-11      0
11             1  2022-01-12      0
12             1  2022-01-13      0
13             1  2022-01-14      0
14             1  2022-01-15      0

In [15]:
# create calendar features

df['day_of_week'] = df['pickup_date'].dt.dayofweek
df['day_of_month'] = df['pickup_date'].dt.day
df['month'] = df['pickup_date'].dt.month
# df['year'] = df['date'].dt.year
# df['week_of_year'] = df['pickup_date'].dt.weekofyear
# df['quarter'] = df['date'].dt.quarter
# df['day_of_year'] = df['date'].dt.dayofyear
df['is_weekend'] = df['day_of_week'].apply(lambda x: 1 if x > 4 else 0)

df.head(15)

,PULocationID,pickup_date,count,day_of_week,day_of_month,month,is_weekend
0,1,2022-01-01,0,5,1,1,1
1,1,2022-01-02,0,6,2,1,1
2,1,2022-01-03,0,0,3,1,0
3,1,2022-01-04,0,1,4,1,0
4,1,2022-01-05,0,2,5,1,0
5,1,2022-01-06,0,3,6,1,0
6,1,2022-01-07,0,4,7,1,0
7,1,2022-01-08,0,5,8,1,1
8,1,2022-01-09,0,6,9,1,1
9,1,2022-01-10,0,0,10,1,0
10,1,2022-01-11,0,1,11,1,0
11,1,2022-01-12,0,2,12,1,0
12,1,2022-01-13,0,3,13,1,0
13,1,2022-01-14,0,4,14,1,0
14,1,2022-01-15,0,5,15,1,1

In [16]:
# create lag features per location
df['lag_1'] = df.groupby(['PULocationID'])['count'].shift(1)
df['lag_7'] = df.groupby(['PULocationID'])['count'].shift(7)
# df['lag_month_1'] = df.groupby(['PULocationID', 'month'])['count'].shift(1)

df.head(15)

,PULocationID,pickup_date,count,day_of_week,day_of_month,month,is_weekend,lag_1,lag_7
0,1,2022-01-01,0,5,1,1,1,NaN,NaN
1,1,2022-01-02,0,6,2,1,1,0.0,NaN
2,1,2022-01-03,0,0,3,1,0,0.0,NaN
3,1,2022-01-04,0,1,4,1,0,0.0,NaN
4,1,2022-01-05,0,2,5,1,0,0.0,NaN
5,1,2022-01-06,0,3,6,1,0,0.0,NaN
6,1,2022-01-07,0,4,7,1,0,0.0,NaN
7,1,2022-01-08,0,5,8,1,1,0.0,0.0
8,1,2022-01-09,0,6,9,1,1,0.0,0.0
9,1,2022-01-10,0,0,10,1,0,0.0,0.0
10,1,2022-01-11,0,1,11,1,0,0.0,0.0
11,1,2022-01-12,0,2,12,1,0,0.0,0.0
12,1,2022-01-13,0,3,13,1,0,0.0,0.0
13,1,2022-01-14,0,4,14,1,0,0.0,0.0
14,1,2022-01-15,0,5,15,1,1,0.0,0.0

In [17]:
#create rolling features per location
df['rolling_mean_3'] = df.groupby(['PULocationID'])['lag_1'].rolling(3).mean().reset_index(0, drop=True)
df['rolling_mean_7'] = df.groupby(['PULocationID'])['lag_1'].rolling(7).mean().reset_index(0, drop=True)
df['rolling_mean_14'] = df.groupby(['PULocationID'])['lag_1'].rolling(14).mean().reset_index(0, drop=True)
df['rolling_mean_30'] = df.groupby(['PULocationID'])['lag_1'].rolling(30).mean().reset_index(0, drop=True)

# same for median
df['rolling_median_3'] = df.groupby(['PULocationID'])['lag_1'].rolling(3).median().reset_index(0, drop=True)
df['rolling_median_7'] = df.groupby(['PULocationID'])['lag_1'].rolling(7).median().reset_index(0, drop=True)
df['rolling_median_14'] = df.groupby(['PULocationID'])['lag_1'].rolling(14).median().reset_index(0, drop=True)
df['rolling_median_30'] = df.groupby(['PULocationID'])['lag_1'].rolling(30).median().reset_index(0, drop=True)

# same for std
df['rolling_std_3'] = df.groupby(['PULocationID'])['lag_1'].rolling(3).std().reset_index(0, drop=True)
df['rolling_std_7'] = df.groupby(['PULocationID'])['lag_1'].rolling(7).std().reset_index(0, drop=True)
df['rolling_std_14'] = df.groupby(['PULocationID'])['lag_1'].rolling(14).std().reset_index(0, drop=True)
df['rolling_std_30'] = df.groupby(['PULocationID'])['lag_1'].rolling(30).std().reset_index(0, drop=True)

# same for min
df['rolling_min_3'] = df.groupby(['PULocationID'])['lag_1'].rolling(3).min().reset_index(0, drop=True)
df['rolling_min_7'] = df.groupby(['PULocationID'])['lag_1'].rolling(7).min().reset_index(0, drop=True)
df['rolling_min_14'] = df.groupby(['PULocationID'])['lag_1'].rolling(14).min().reset_index(0, drop=True)
df['rolling_min_30'] = df.groupby(['PULocationID'])['lag_1'].rolling(30).min().reset_index(0, drop=True)

# same for max
df['rolling_max_3'] = df.groupby(['PULocationID'])['lag_1'].rolling(3).max().reset_index(0, drop=True)
df['rolling_max_7'] = df.groupby(['PULocationID'])['lag_1'].rolling(7).max().reset_index(0, drop=True)
df['rolling_max_14'] = df.groupby(['PULocationID'])['lag_1'].rolling(14).max().reset_index(0, drop=True)
df['rolling_max_30'] = df.groupby(['PULocationID'])['lag_1'].rolling(30).max().reset_index(0, drop=True)

df[df['PULocationID']==4].head(15)

,PULocationID,pickup_date,count,day_of_week,day_of_month,month,is_weekend,lag_1,lag_7,rolling_mean_3,rolling_mean_7,rolling_mean_14,rolling_mean_30,rolling_median_3,rolling_median_7,rolling_median_14,rolling_median_30,rolling_std_3,rolling_std_7,rolling_std_14,rolling_std_30,rolling_min_3,rolling_min_7,rolling_min_14,rolling_min_30,rolling_max_3,rolling_max_7,rolling_max_14,rolling_max_30
1914,4,2022-01-01,2034,5,1,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1915,4,2022-01-02,1134,6,2,1,1,2034.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1916,4,2022-01-03,1092,0,3,1,0,1134.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1917,4,2022-01-04,1139,1,4,1,0,1092.0,NaN,1420.000000,NaN,NaN,NaN,1134.0,NaN,NaN,NaN,532.154113,NaN,NaN,NaN,1092.0,NaN,NaN,NaN,2034.0,NaN,NaN,NaN
1918,4,2022-01-05,1153,2,5,1,0,1139.0,NaN,1121.666667,NaN,NaN,NaN,1134.0,NaN,NaN,NaN,25.813433,NaN,NaN,NaN,1092.0,NaN,NaN,NaN,1139.0,NaN,NaN,NaN
1919,4,2022-01-06,1288,3,6,1,0,1153.0,NaN,1128.000000,NaN,NaN,NaN,1139.0,NaN,NaN,NaN,31.953091,NaN,NaN,NaN,1092.0,NaN,NaN,NaN,1153.0,NaN,NaN,NaN
1920,4,2022-01-07,1705,4,7,1,0,1288.0,NaN,1193.333333,NaN,NaN,NaN,1153.0,NaN,NaN,NaN,82.282035,NaN,NaN,NaN,1139.0,NaN,NaN,NaN,1288.0,NaN,NaN,NaN
1921,4,2022-01-08,2259,5,8,1,1,1705.0,2034.0,1382.000000,1363.571429,NaN,NaN,1288.0,1153.0,NaN,NaN,287.755104,363.544063,NaN,NaN,1153.0,1092.0,NaN,NaN,1705.0,2034.0,NaN,NaN
1922,4,2022-01-09,1865,6,9,1,1,2259.0,1134.0,1750.666667,1395.714286,NaN,NaN,1705.0,1153.0,NaN,NaN,487.108133,435.521034,NaN,NaN,1288.0,1092.0,NaN,NaN,2259.0,2259.0,NaN,NaN
1923,4,2022-01-10,1263,0,10,1,0,1865.0,1092.0,1943.000000,1500.142857,NaN,NaN,1865.0,1288.0,NaN,NaN,285.117520,449.716366,NaN,NaN,1705.0,1092.0,NaN,NaN,2259.0,2259.0,NaN,NaN
1924,4,2022-01-11,1399,1,11,1,0,1263.0,1139.0,1795.666667,1524.571429,NaN,NaN,1865.0,1288.0,NaN,NaN,501.606752,427.969569,NaN,NaN,1263.0,1139.0,NaN,NaN,2259.0,2259.0,NaN,NaN
1925,4,2022-01-12,1382,2,12,1,0,1399.0,1153.0,1509.000000,1561.714286,NaN,NaN,1399.0,1399.0,NaN,NaN,315.715061,399.247924,NaN,NaN,1263.0,1153.0,NaN,NaN,1865.0,2259.0,NaN,NaN
1926,4,2022-01-13,1481,3,13,1,0,1382.0,1288.0,1348.000000,1594.428571,NaN,NaN,1382.0,1399.0,NaN,NaN,74.101282,368.363886,NaN,NaN,1263.0,1263.0,NaN,NaN,1399.0,2259.0,NaN,NaN
1927,4,2022-01-14,2015,4,14,1,0,1481.0,1705.0,1420.666667,1622.000000,NaN,NaN,1399.0,1481.0,NaN,NaN,52.937070,348.281017,NaN,NaN,1382.0,1263.0,NaN,NaN,1481.0,2259.0,NaN,NaN
1928,4,2022-01-15,2890,5,15,1,1,2015.0,2259.0,1626.000000,1666.285714,1514.928571,NaN,1481.0,1481.0,1390.5,NaN,340.501101,378.952378,389.80675,NaN,1382.0,1263.0,1092.0,NaN,2015.0,2259.0,2259.0,NaN

In [18]:
# #create rolling features per location excluding current day
# df['rolling_mean_3_excl'] = df.groupby(['PULocationID'])['count'].rolling(3, closed = 'left').mean().shift(1).reset_index(0, drop=True)
# df['rolling_mean_7_excl'] = df.groupby(['PULocationID'])['count'].rolling(7, closed = 'left').mean().shift(1).reset_index(0, drop=True)

In [19]:
# create expanding features per location
df['expanding_mean'] = df.groupby(['PULocationID'])['lag_1'].expanding().mean().reset_index(0, drop=True)
df['expanding_median'] = df.groupby(['PULocationID'])['lag_1'].expanding().median().reset_index(0, drop=True)
df['expanding_std'] = df.groupby(['PULocationID'])['lag_1'].expanding().std().reset_index(0, drop=True)
df['expanding_min'] = df.groupby(['PULocationID'])['lag_1'].expanding().min().reset_index(0, drop=True)
df['expanding_max'] = df.groupby(['PULocationID'])['lag_1'].expanding().max().reset_index(0, drop=True)

df[df['PULocationID']==4].head(15)

,PULocationID,pickup_date,count,day_of_week,day_of_month,month,is_weekend,lag_1,lag_7,rolling_mean_3,rolling_mean_7,rolling_mean_14,rolling_mean_30,rolling_median_3,rolling_median_7,rolling_median_14,rolling_median_30,rolling_std_3,rolling_std_7,rolling_std_14,rolling_std_30,rolling_min_3,rolling_min_7,rolling_min_14,rolling_min_30,rolling_max_3,rolling_max_7,rolling_max_14,rolling_max_30,expanding_mean,expanding_median,expanding_std,expanding_min,expanding_max
1914,4,2022-01-01,2034,5,1,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1915,4,2022-01-02,1134,6,2,1,1,2034.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2034.000000,2034.0,NaN,2034.0,2034.0
1916,4,2022-01-03,1092,0,3,1,0,1134.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1584.000000,1584.0,636.396103,1134.0,2034.0
1917,4,2022-01-04,1139,1,4,1,0,1092.0,NaN,1420.000000,NaN,NaN,NaN,1134.0,NaN,NaN,NaN,532.154113,NaN,NaN,NaN,1092.0,NaN,NaN,NaN,2034.0,NaN,NaN,NaN,1420.000000,1134.0,532.154113,1092.0,2034.0
1918,4,2022-01-05,1153,2,5,1,0,1139.0,NaN,1121.666667,NaN,NaN,NaN,1134.0,NaN,NaN,NaN,25.813433,NaN,NaN,NaN,1092.0,NaN,NaN,NaN,1139.0,NaN,NaN,NaN,1349.750000,1136.5,456.653315,1092.0,2034.0
1919,4,2022-01-06,1288,3,6,1,0,1153.0,NaN,1128.000000,NaN,NaN,NaN,1139.0,NaN,NaN,NaN,31.953091,NaN,NaN,NaN,1092.0,NaN,NaN,NaN,1153.0,NaN,NaN,NaN,1310.400000,1139.0,405.143555,1092.0,2034.0
1920,4,2022-01-07,1705,4,7,1,0,1288.0,NaN,1193.333333,NaN,NaN,NaN,1153.0,NaN,NaN,NaN,82.282035,NaN,NaN,NaN,1139.0,NaN,NaN,NaN,1288.0,NaN,NaN,NaN,1306.666667,1146.0,362.486781,1092.0,2034.0
1921,4,2022-01-08,2259,5,8,1,1,1705.0,2034.0,1382.000000,1363.571429,NaN,NaN,1288.0,1153.0,NaN,NaN,287.755104,363.544063,NaN,NaN,1153.0,1092.0,NaN,NaN,1705.0,2034.0,NaN,NaN,1363.571429,1153.0,363.544063,1092.0,2034.0
1922,4,2022-01-09,1865,6,9,1,1,2259.0,1134.0,1750.666667,1395.714286,NaN,NaN,1705.0,1153.0,NaN,NaN,487.108133,435.521034,NaN,NaN,1288.0,1092.0,NaN,NaN,2259.0,2259.0,NaN,NaN,1475.500000,1220.5,462.068950,1092.0,2259.0
1923,4,2022-01-10,1263,0,10,1,0,1865.0,1092.0,1943.000000,1500.142857,NaN,NaN,1865.0,1288.0,NaN,NaN,285.117520,449.716366,NaN,NaN,1705.0,1092.0,NaN,NaN,2259.0,2259.0,NaN,NaN,1518.777778,1288.0,451.304714,1092.0,2259.0
1924,4,2022-01-11,1399,1,11,1,0,1263.0,1139.0,1795.666667,1524.571429,NaN,NaN,1865.0,1288.0,NaN,NaN,501.606752,427.969569,NaN,NaN,1263.0,1139.0,NaN,NaN,2259.0,2259.0,NaN,NaN,1493.200000,1275.5,433.113739,1092.0,2259.0
1925,4,2022-01-12,1382,2,12,1,0,1399.0,1153.0,1509.000000,1561.714286,NaN,NaN,1399.0,1399.0,NaN,NaN,315.715061,399.247924,NaN,NaN,1263.0,1153.0,NaN,NaN,1865.0,2259.0,NaN,NaN,1484.636364,1288.0,411.868249,1092.0,2259.0
1926,4,2022-01-13,1481,3,13,1,0,1382.0,1288.0,1348.000000,1594.428571,NaN,NaN,1382.0,1399.0,NaN,NaN,74.101282,368.363886,NaN,NaN,1263.0,1263.0,NaN,NaN,1399.0,2259.0,NaN,NaN,1476.083333,1335.0,393.817091,1092.0,2259.0
1927,4,2022-01-14,2015,4,14,1,0,1481.0,1705.0,1420.666667,1622.000000,NaN,NaN,1399.0,1481.0,NaN,NaN,52.937070,348.281017,NaN,NaN,1382.0,1263.0,NaN,NaN,1481.0,2259.0,NaN,NaN,1476.461538,1382.0,377.053625,1092.0,2259.0
1928,4,2022-01-15,2890,5,15,1,1,2015.0,2259.0,1626.000000,1666.285714,1514.928571,NaN,1481.0,1481.0,1390.5,NaN,340.501101,378.952378,389.80675,NaN,1382.0,1263.0,1092.0,NaN,2015.0,2259.0,2259.0,NaN,1514.928571,1390.5,389.806750,1092.0,2259.0

In [20]:
# create differencing features per location
df['diff_1'] = df.groupby(['PULocationID'])['lag_1'].diff(1)
df['diff_7'] = df.groupby(['PULocationID'])['lag_1'].diff(7)

In [21]:
# create cyclic features from weekday
df['day_of_week_sin'] = np.sin(df.day_of_week*(2.*np.pi/7))
df['day_of_week_cos'] = np.cos(df.day_of_week*(2.*np.pi/7))

In [22]:
# create cyclic features from month
df['day_of_week_sin'] = np.sin(df.day_of_month*(2.*np.pi/31))
df['day_of_week_cos'] = np.cos(df.day_of_month*(2.*np.pi/31))

In [23]:
df[df['PULocationID']==4].head(15)

,PULocationID,pickup_date,count,day_of_week,day_of_month,month,is_weekend,lag_1,lag_7,rolling_mean_3,rolling_mean_7,rolling_mean_14,rolling_mean_30,rolling_median_3,rolling_median_7,rolling_median_14,rolling_median_30,rolling_std_3,rolling_std_7,rolling_std_14,rolling_std_30,rolling_min_3,rolling_min_7,rolling_min_14,rolling_min_30,rolling_max_3,rolling_max_7,rolling_max_14,rolling_max_30,expanding_mean,expanding_median,expanding_std,expanding_min,expanding_max,diff_1,diff_7,day_of_week_sin,day_of_week_cos
1914,4,2022-01-01,2034,5,1,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.201299,0.979530
1915,4,2022-01-02,1134,6,2,1,1,2034.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2034.000000,2034.0,NaN,2034.0,2034.0,NaN,NaN,0.394356,0.918958
1916,4,2022-01-03,1092,0,3,1,0,1134.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1584.000000,1584.0,636.396103,1134.0,2034.0,-900.0,NaN,0.571268,0.820763
1917,4,2022-01-04,1139,1,4,1,0,1092.0,NaN,1420.000000,NaN,NaN,NaN,1134.0,NaN,NaN,NaN,532.154113,NaN,NaN,NaN,1092.0,NaN,NaN,NaN,2034.0,NaN,NaN,NaN,1420.000000,1134.0,532.154113,1092.0,2034.0,-42.0,NaN,0.724793,0.688967
1918,4,2022-01-05,1153,2,5,1,0,1139.0,NaN,1121.666667,NaN,NaN,NaN,1134.0,NaN,NaN,NaN,25.813433,NaN,NaN,NaN,1092.0,NaN,NaN,NaN,1139.0,NaN,NaN,NaN,1349.750000,1136.5,456.653315,1092.0,2034.0,47.0,NaN,0.848644,0.528964
1919,4,2022-01-06,1288,3,6,1,0,1153.0,NaN,1128.000000,NaN,NaN,NaN,1139.0,NaN,NaN,NaN,31.953091,NaN,NaN,NaN,1092.0,NaN,NaN,NaN,1153.0,NaN,NaN,NaN,1310.400000,1139.0,405.143555,1092.0,2034.0,14.0,NaN,0.937752,0.347305
1920,4,2022-01-07,1705,4,7,1,0,1288.0,NaN,1193.333333,NaN,NaN,NaN,1153.0,NaN,NaN,NaN,82.282035,NaN,NaN,NaN,1139.0,NaN,NaN,NaN,1288.0,NaN,NaN,NaN,1306.666667,1146.0,362.486781,1092.0,2034.0,135.0,NaN,0.988468,0.151428
1921,4,2022-01-08,2259,5,8,1,1,1705.0,2034.0,1382.000000,1363.571429,NaN,NaN,1288.0,1153.0,NaN,NaN,287.755104,363.544063,NaN,NaN,1153.0,1092.0,NaN,NaN,1705.0,2034.0,NaN,NaN,1363.571429,1153.0,363.544063,1092.0,2034.0,417.0,NaN,0.998717,-0.050649
1922,4,2022-01-09,1865,6,9,1,1,2259.0,1134.0,1750.666667,1395.714286,NaN,NaN,1705.0,1153.0,NaN,NaN,487.108133,435.521034,NaN,NaN,1288.0,1092.0,NaN,NaN,2259.0,2259.0,NaN,NaN,1475.500000,1220.5,462.068950,1092.0,2259.0,554.0,225.0,0.968077,-0.250653
1923,4,2022-01-10,1263,0,10,1,0,1865.0,1092.0,1943.000000,1500.142857,NaN,NaN,1865.0,1288.0,NaN,NaN,285.117520,449.716366,NaN,NaN,1705.0,1092.0,NaN,NaN,2259.0,2259.0,NaN,NaN,1518.777778,1288.0,451.304714,1092.0,2259.0,-394.0,731.0,0.897805,-0.440394
1924,4,2022-01-11,1399,1,11,1,0,1263.0,1139.0,1795.666667,1524.571429,NaN,NaN,1865.0,1288.0,NaN,NaN,501.606752,427.969569,NaN,NaN,1263.0,1139.0,NaN,NaN,2259.0,2259.0,NaN,NaN,1493.200000,1275.5,433.113739,1092.0,2259.0,-602.0,171.0,0.790776,-0.612106
1925,4,2022-01-12,1382,2,12,1,0,1399.0,1153.0,1509.000000,1561.714286,NaN,NaN,1399.0,1399.0,NaN,NaN,315.715061,399.247924,NaN,NaN,1263.0,1153.0,NaN,NaN,1865.0,2259.0,NaN,NaN,1484.636364,1288.0,411.868249,1092.0,2259.0,136.0,260.0,0.651372,-0.758758
1926,4,2022-01-13,1481,3,13,1,0,1382.0,1288.0,1348.000000,1594.428571,NaN,NaN,1382.0,1399.0,NaN,NaN,74.101282,368.363886,NaN,NaN,1263.0,1263.0,NaN,NaN,1399.0,2259.0,NaN,NaN,1476.083333,1335.0,393.817091,1092.0,2259.0,-17.0,229.0,0.485302,-0.874347
1927,4,2022-01-14,2015,4,14,1,0,1481.0,1705.0,1420.666667,1622.000000,NaN,NaN,1399.0,1481.0,NaN,NaN,52.937070,348.281017,NaN,NaN,1382.0,1263.0,NaN,NaN,1481.0,2259.0,NaN,NaN,1476.461538,1382.0,377.053625,1092.0,2259.0,99.0,193.0,0.299363,-0.954139
1928,4,2022-01-15,2890,5,15,1,1,2015.0,2259.0,1626.000000,1666.285714,1514.928571,NaN,1481.0,1481.0,1390.5,NaN,340.501101,378.952378,389.80675,NaN,1382.0,1263.0,1092.0,NaN,2015.0,2259.0,2259.0,NaN,1514.928571,1390.5,389.806750,1092.0,2259.0,534.0,310.0,0.101168,-0.994869

In [24]:
# remove 1st month as it has missing values
df = df[df['pickup_date'] >= df['pickup_date'].min() + pd.DateOffset(months=1)]

df[df['PULocationID']==4].head(15)

,PULocationID,pickup_date,count,day_of_week,day_of_month,month,is_weekend,lag_1,lag_7,rolling_mean_3,rolling_mean_7,rolling_mean_14,rolling_mean_30,rolling_median_3,rolling_median_7,rolling_median_14,rolling_median_30,rolling_std_3,rolling_std_7,rolling_std_14,rolling_std_30,rolling_min_3,rolling_min_7,rolling_min_14,rolling_min_30,rolling_max_3,rolling_max_7,rolling_max_14,rolling_max_30,expanding_mean,expanding_median,expanding_std,expanding_min,expanding_max,diff_1,diff_7,day_of_week_sin,day_of_week_cos
1945,4,2022-02-01,1442,1,1,2,0,1380.0,1326.0,1740.666667,1716.000000,1811.214286,1706.733333,1821.0,1758.0,1687.5,1518.5,327.963921,312.187444,532.773610,529.523985,1380.0,1326.0,1301.0,1092.0,2021.0,2150.0,3146.0,3146.0,1717.290323,1556.0,523.931369,1092.0,3146.0,-641.0,79.0,0.201299,0.979530
1946,4,2022-02-02,1494,2,2,2,0,1442.0,1556.0,1614.333333,1732.571429,1819.500000,1717.000000,1442.0,1758.0,1687.5,1518.5,353.545377,290.350281,525.499433,520.953105,1380.0,1380.0,1301.0,1092.0,2021.0,2150.0,3146.0,3146.0,1708.687500,1518.5,517.703953,1092.0,3146.0,62.0,116.0,0.394356,0.918958
1947,4,2022-02-03,1803,3,3,2,0,1494.0,1758.0,1438.666667,1723.714286,1830.928571,1730.400000,1442.0,1758.0,1687.5,1525.0,57.073053,297.492137,515.778495,509.363673,1380.0,1380.0,1301.0,1139.0,1494.0,2150.0,3146.0,3146.0,1702.181818,1494.0,510.919297,1092.0,3146.0,52.0,-62.0,0.571268,0.820763
1948,4,2022-02-04,2460,4,4,2,0,1803.0,2150.0,1579.666667,1730.142857,1844.214286,1752.533333,1494.0,1803.0,1780.5,1586.5,195.152077,298.839661,512.227440,497.057184,1442.0,1380.0,1301.0,1153.0,1803.0,2150.0,3146.0,3146.0,1705.147059,1525.0,503.415554,1092.0,3146.0,309.0,45.0,0.724793,0.688967
1949,4,2022-02-05,3284,5,5,2,1,2460.0,1821.0,1919.000000,1774.428571,1853.928571,1796.100000,1803.0,1803.0,1780.5,1661.0,493.336599,382.647295,523.198516,499.966782,1494.0,1380.0,1301.0,1263.0,2460.0,2460.0,3146.0,3146.0,1726.714286,1556.0,512.106984,1092.0,3146.0,657.0,310.0,0.848644,0.528964
1950,4,2022-02-06,2490,6,6,2,1,3284.0,2021.0,2515.666667,1983.428571,1863.785714,1862.633333,2460.0,1803.0,1780.5,1731.5,742.067607,689.127917,550.026038,559.307360,1803.0,1380.0,1301.0,1263.0,3284.0,3284.0,3284.0,3284.0,1769.972222,1586.5,567.561072,1092.0,3284.0,824.0,1463.0,0.937752,0.347305
1951,4,2022-02-07,1376,0,7,2,0,2490.0,1380.0,2744.666667,2050.428571,1877.571429,1888.800000,2490.0,1803.0,1780.5,1780.5,467.317166,715.677268,563.961362,569.940009,2460.0,1380.0,1301.0,1263.0,3284.0,3284.0,3284.0,3284.0,1789.432432,1617.0,572.004834,1092.0,3284.0,-794.0,469.0,0.988468,0.151428
1952,4,2022-02-08,1391,1,8,2,0,1376.0,1442.0,2383.333333,2049.857143,1882.928571,1859.366667,2490.0,1803.0,1780.5,1687.5,958.461962,716.303108,558.391848,572.954923,1376.0,1376.0,1326.0,1263.0,3284.0,3284.0,3284.0,3284.0,1778.552632,1586.5,568.194185,1092.0,3284.0,-1114.0,-4.0,0.998717,-0.050649
1953,4,2022-02-09,1534,2,9,2,0,1391.0,1494.0,1752.333333,2042.571429,1887.571429,1843.566667,1391.0,1803.0,1780.5,1586.5,638.882097,723.737028,553.655088,579.294737,1376.0,1376.0,1376.0,1263.0,2490.0,3284.0,3284.0,3284.0,1768.615385,1556.0,564.092126,1092.0,3284.0,15.0,-51.0,0.968077,-0.250653
1954,4,2022-02-10,1837,3,10,2,0,1534.0,1803.0,1433.666667,2048.285714,1886.000000,1852.600000,1391.0,1803.0,1780.5,1586.5,87.214295,718.825133,554.698809,571.996359,1376.0,1376.0,1376.0,1301.0,1534.0,3284.0,3284.0,3284.0,1762.750000,1545.0,558.047546,1092.0,3284.0,143.0,40.0,0.897805,-0.440394
1955,4,2022-02-11,2364,4,11,2,0,1837.0,2460.0,1587.333333,2053.142857,1891.642857,1867.200000,1534.0,1837.0,1812.0,1687.5,227.733031,717.004051,553.697447,565.572972,1391.0,1376.0,1376.0,1301.0,1837.0,3284.0,3284.0,3284.0,1764.560976,1556.0,551.149800,1092.0,3284.0,303.0,34.0,0.790776,-0.612106
1956,4,2022-02-12,3375,5,12,2,1,2364.0,3284.0,1911.666667,2039.428571,1906.928571,1899.933333,1837.0,1837.0,1812.0,1780.5,420.007540,708.796129,564.232149,564.939968,1534.0,1376.0,1376.0,1301.0,2364.0,3284.0,3284.0,3284.0,1778.833333,1586.5,552.188900,1092.0,3284.0,527.0,-96.0,0.651372,-0.758758
1957,4,2022-02-13,2968,6,13,2,1,3375.0,2490.0,2525.333333,2052.428571,2017.928571,1963.066667,2364.0,1837.0,1820.0,1812.0,781.589620,735.749246,685.790332,619.685679,1837.0,1376.0,1376.0,1301.0,3375.0,3375.0,3375.0,3375.0,1815.953488,1617.0,597.413351,1092.0,3375.0,1011.0,91.0,0.485302,-0.874347
1958,4,2022-02-14,2047,0,14,2,0,2968.0,1376.0,2902.333333,2120.714286,2085.571429,1994.833333,2968.0,1837.0,1820.0,1812.0,508.688837,802.301214,731.309543,646.295016,2364.0,1376.0,1376.0,1301.0,3375.0,3375.0,3375.0,3375.0,1842.136364,1661.0,615.440118,1092.0,3375.0,-407.0,478.0,0.299363,-0.954139
1959,4,2022-02-15,1606,1,15,2,0,2047.0,1391.0,2796.666667,2216.571429,2133.214286,1966.733333,2968.0,2047.0,1942.0,1812.0,680.376611,735.825808,702.985740,623.973084,2047.0,1391.0,1376.0,1301.0,3375.0,3375.0,3375.0,3375.0,1846.688889,1705.0,609.172271,1092.0,3375.0,-921.0,671.0,0.101168,-0.994869

In [25]:
df.to_csv('../data/processed/fhvhv_daily_counts_features.csv', index=False)